@using EntityLayer.Concrete
@model List<Category>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3 class="p-3">MVC Kamp Tablo Örneği</h3>
<br />
<div class="container">
    <table class="table table-bordered ">
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
            <th>Aksiyonlar</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@category.CategoryDescription</td>
                <td>@category.CategoryStatus</td>
                <td><button class="btn btn-danger">Sil</button> <button class="btn btn-warning">Güncelle</button></td>
            </tr>
        }

    </table>
    <br />
    <a href="/Category/AddCategory" class="btn btn-success">Kategori Ekle</a>
</div>


